<app-menu> </app-menu>
<div><span class="h3">New Product</span></div> <br>
<body>
    <div class="form-container">
        <form class="form">

            <label for="photopath">Photo Path: </label>
            <input type="text" name="photopath" placeholder="Photo URL">
            <br>

            <label for="partNbr">Part #: </label>
            <input type="text" name="partNbr" placeholder="Part #">
            <br>
              
            <label for="name">Part Name: </label>
            <input type="text" name="name" placeholder="Part Name">
            <br>

            <label for="vendor">Select Vendor: </label>
            <select name="text" id="Vendor"></select>
            <br>
         
            <label for="unit">Unit: </label>
            <input type="text" name="unit" placeholder="Unit">
            <br>
        
            <label for="price">Price: </label>
            <input type="text" name="price" placeholder="Price">
            <br> <br>

            <button type="save">Save</button>
        </form>
    </div>
</body>
<app-footer></app-footer>
