<app-menu> </app-menu>
<div><span class="h3">* You are EDITING a Product *</span></div> <br>
<body>
    <div class="form-container">
        <form class="form">

            <label for="photoPath">Photo Path: </label>
            <input type="text" name="photopath" placeholder="{{product.photopath}}">
            <br>

            <label for="partNbr">Part #: </label>
            <input type="text" name="partNbr" placeholder="{{product.partNbr}}">
            <br>
              
            <label for="name">Part Name: </label>
            <input type="text" name="name" placeholder="{{product.name}}">
            <br>

            <label for="vendor">Select Vendor: </label>
            <select name="text" id="Vendor"></select>
            <br>
         
            <label for="unit">Unit: </label>
            <input type="text" name="unit" placeholder="{{product.unit}}">
            <br>
        
            <label for="price">Price: </label>
            <input type="text" name="price" placeholder="{{product.price}}">
            <br> <br>

            <button type="save">Save</button>
            <br> <br>
        </form>
    </div>
</body>
<app-footer></app-footer>