<app-menu></app-menu>
<body>
<div><span class="h3">* You are Editing a user *</span></div> <br>
<div>
    <table>
        <tr>
            <td>First Name:</td>
                <td>
                    <input [(ngModel)]="user.firstname" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Last Name:</td>
                <td>
                    <input [(ngModel)]="user.lastname" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Phone Number:</td>
                <td>
                    <input [(ngModel)]="user.phone" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Email:</td>
                <td>
                    <input [(ngModel)]="user.email" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Username:</td>
                <td>
                    <input [(ngModel)]="user.username" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Password:</td>
                <td>
                    <input [(ngModel)]="user.password" type="text"> 
                </td>
        </tr>
        <tr>
            <td>Reviewer:</td>
                <td>
                    <input [(ngModel)]="user.isReviewer" type="checkbox" [checked]="user.isReviewer"> 

                </td>
        </tr>
        <tr>
            <td>Admin:</td>
                <td>
                    <input [(ngModel)]="user.isAdmin" type="checkbox" [checked]="user.isAdmin"> 

                </td>
        </tr>
    </table>
    <a><button>Save</button></a>
</div>
</body>
<app-footer></app-footer>
